#main {
    .banner {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-blend-mode: screen, normal;
        display: flex;
        flex-direction: column;
        max-height: min-content;

        @media (min-width: 1600px) {
            .h1 {
                font-size: 60px;
            }
        }

        .desktop-banner {
            object-fit: cover;
            border-radius: 16px;
        }

        .mobile-banner {
            object-fit: cover;
            border-radius: 12px;
            margin: 0 5px;
        }

        .content {
            position: absolute;
        }
    }

    width: 100%;
    padding: 0 40px;

    @media (max-width: 1240px) {
        padding: 0 !important;
    }
}

@media (max-width: 576px) {
    #main {
        height: 500px;

        .banner {
            .mobile-banner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% + 110px);
                z-index: -1;
                margin: 0;
                border-radius: 0;
                object-position: 60%;
                margin-top: -110px;
            }

            .flex-box {
                height: 100%;
                justify-content: space-between;
                padding: 24px 0px 24px;

                .container {
                    .text.h2.black {
                        text-align: left !important;
                        font-size: 24px;
                        padding-right: 20px;
                        color: white;
                    }
                }
            }
        }
    }
}
