$brown-600: #988064;
$brown-400: #bd9b60;
$green-400: #035040;
$green-500: #024638;
$green-600: #023E31;
$gray-100: #F6F6F6;
$gray-200: #C4C6C8;
$gray-300: #949CA1;
$gray-500: #6c6d6d;
$gray-900: #404041;

$red-500: #DC1C2E;
$red-900: #B22B2E;
$blue-500: #003DA5;
$blue-800: #1a3668;
$black: #10203D;

$info-400: #60A5FA;
$info-500: #3B82F6;
$info-600: #2563EB;
$error-400: #F87171;
$error-500: #ef4444;
$error-600: #DC2626;
$warning-400: #FBBF24;
$warning-500: #F59E0B;
$warning-600: #D97706;
$success-400: #34D399;
$success-500: #10B981;
$success-600: #059669;
