@import "../../assets/styles/colors";

#technologies {
    width: 100%;
    padding-top: 120px;
    background-color: $gray-100;
    
    @media (max-width: 1240px) {
        padding-top: 100px;
    }

    ul.gray-900 {
        color: $gray-900;
    }

    .iConnect {
        overflow: hidden;
        .bg-img {
            background-image: url("../../assets/images/i-connect.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            margin: 0 -60px;
            width: calc(100% + 120px);
            height: 100%;
            min-height: 200px;
            pointer-events: none;
            
            @media (max-width: 1024px) {
                margin: 0 -30px;
                width: calc(100% + 60px);
                scale: 2;
                transform-origin: top;
            }
        }
    }

    .ref {
        padding: 6px 16px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        background-color: $red-500;
        border-radius: 12px;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
            color: white;
        }
    }
}